.bookings-container{
  background: #F7F7F7;
  border-radius:15px;
}

.nav-link{
  position:relative;
  margin: 0 10px;
  font-size: 1.2rem;
  color: #000000;

  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  &:hover:after, &.active:after {
    width: 100%;
    left: 0;
  }
}
