<div class="row justify-content-center my-4">
  <div class="col-6">
    <h1 class="my-3">Ask for booking <%= @spaceship.name %></h1>
    <%= cl_image_tag @spaceship.main_image.key, class: "img-fluid" %>
    <%= render 'form', spaceship: @spaceship, booking: @booking %>
  </div>
</div>
