.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.profile-picture {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-left: 2em;
}

.navbar {
  min-height:50px;

  svg {
    width: 150px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 1em;
        a{
          color: lightgray;
          text-decoration: none;
        }
      }
    }
  }
}
